<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<title>Responsive stuff is cool</title>
<div class="flex-container">
  <h1 class="title">My great big responsive sight page!</h1>
  <div class="container">
    <div class="column1">
      <h3 class="header">First: the news!</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
      rhoncus eros a efficitur. Etiam ac semper tellus, eu hendrerit lacus.
      Praesent imperdiet, nisi mollis sodales vehicula, lorem arcu consectetur
      nisl, eu eleifend orci lacus vel sem. Maecenas imperdiet lorem eu magna
      condimentum, vel efficitur dui dictum. Fusce ullamcorper quam sit amet
      sapien placerat consectetur. Donec suscipit ultrices sem et pharetra.
      Nullam convallis, mauris vel volutpat feugiat, erat leo tincidunt libero,
      vel fermentum mauris turpis vitae sapien. Donec ut fermentum risus. Nullam
      finibus pretium ligula, in convallis risus gravida nec. Nulla magna
      sapien, aliquam eget ligula id, pretium pulvinar felis. Donec euismod
      facilisis pharetra. Vivamus congue ac sapien sit amet tempus. Vivamus id
      augue est. Nullam sed nisl vel massa semper vulputate. Nulla vel blandit
      quam. Mauris porttitor vestibulum arcu. Nulla non varius magna. In tempor
      tempor vehicula. Donec tempus, augue vitae efficitur eleifend, sapien
      felis molestie turpis, non tincidunt odio tortor in est. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      Morbi in dolor sit amet sem ultrices laoreet eget at metus.
    </div>

    <div class="column2">
      <h3 class="header">Next: the blues!</h3>
      Suspendisse et sem vel est blandit dictum eget et lacus. Donec pharetra,
      sapien a interdum euismod, felis nisl auctor magna, vitae sodales neque
      quam in nunc. Sed convallis nisi sit amet nisi molestie, eget vulputate
      orci sagittis. Vivamus quam augue, ornare in hendrerit non, blandit in
      dolor. Aliquam sodales imperdiet lobortis. Aenean eu massa a turpis
      placerat tincidunt feugiat in leo. In ante ligula, cursus eu arcu et,
      malesuada sagittis sem. Nunc felis mauris, bibendum sed orci non, ornare
      posuere nulla. Ut eleifend arcu a justo mattis malesuada. Donec ante
      sapien, condimentum in neque pharetra, gravida dignissim quam.
      Pellentesque ac nunc at neque varius ultrices. Sed vel diam tempor,
      laoreet neque vitae, maximus velit. Nulla nibh ipsum, lobortis at purus
      eget, bibendum molestie mi. Nullam nec justo ullamcorper, hendrerit tellus
      imperdiet, bibendum augue. Nullam dignissim lacus et ante congue, a
      faucibus enim maximus. Fusce nec dui sit amet risus rutrum condimentum ac
      a massa. Phasellus malesuada vehicula mauris id ullamcorper. In non congue
      mauris. Duis euismod in justo rutrum vulputate. Aliquam erat volutpat. In
      finibus lectus laoreet massa interdum consectetur. Cras condimentum magna
      non risus tempus convallis ut in ante. Maecenas aliquam arcu eget nulla
      fringilla, vel varius purus volutpat.
    </div>

    <div class="column3">
      <h3 class="header">Finally: the goose!</h3>
      Pellentesque rhoncus ut dolor venenatis feugiat. Duis semper nibh nec
      velit convallis auctor. Duis sollicitudin molestie vehicula. Phasellus
      pulvinar, lorem non facilisis fermentum, sem dui suscipit urna, ut
      suscipit sem est vel metus. Vestibulum placerat nulla nec iaculis
      porttitor. In hac habitasse platea dictumst. Sed eu purus quis sapien
      sollicitudin fringilla a tempor nisl. Sed quis dolor id metus molestie
      aliquam a ac nisi. Curabitur aliquam sed nulla ornare sodales. Fusce quis
      porttitor enim. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices posuere cubilia Curae; Integer nec pretium justo, et molestie
      nisl. Phasellus ex sapien, ultrices in ante id, vestibulum tincidunt
      sapien. Aliquam eu interdum nunc. Ut id vulputate augue. Nulla id
      porttitor arcu. Vivamus mollis dictum tellus, et venenatis ante consequat
      sit amet.
    </div>
  </div>
</div>
